<div *ngFor="let ytcard of ytcards">
  <div>
    Channel name: {{ytcard.channel_name}}
  </div>

  <!-- <div >
    Video Title: {{ytcard.video_title}}
  </div>

  <div >
    Video URL: https://www.youtube.com/watch?v={{ytcard.video_url}}
  </div> -->

  <div>
    pic: {{ytcard.profile_pic_url}}
  </div>

  <div>
    channel: {{ytcard.channel_description}}
  </div>

  <div>
    subscribers: {{ytcard.subscribers_count}}
  </div>

  <div>
    views: {{ytcard.views_count}}
  </div>

  <button type="button" name="button" (click)="onClickWatch(ytcard.channel_id)">Watch Video</button>

  <ytwatch [videoInfo]="videoInfo"></ytwatch>

  <br><br>
</div>
